body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #212529;
}

#cabecalho .nav .nav-link.active {
    background-color: #7e7d7d;
    color: #000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fcf8f7;
}

.section-title {
    font-family: "Daimler CS Regular";
}

#sobre-o-restaurante, #cardapio {
    background-color: #000;
    color: #fff;
}

.text-colored {
    color: #929190;
}

.icon-colored{
    color: green;
}

.icon-colored2{
    color: #c01616;
}

.nav-cardapio {
    color: #e15f41;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #7e7d7d;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.btn {
    transition: all 0.3s ease; /* Suaviza a transição */
    
}

.btn:hover {
    border: 2px solid #ff8800; /* Altera a cor da borda ao passar o mouse */
    transform: scale(0.95); /* Diminui ligeiramente o tamanho do botão */
}

.fotos:hover{
    transform: scale(1.05);
}

/* Ajuste geral para garantir que as imagens sejam fluidas e se adaptem ao container */
.carousel-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Faz com que a imagem cubra o container sem distorcer */
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 200px;
    }
    #cabecalho .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #cabecalho img {
        width: 50px; /* Reduz o tamanho da logo para caber melhor */
        margin-right: 10px;
    }

    #cabecalho h1 {
        font-size: 1.5rem; /* Ajusta o tamanho do título */
        margin: 0;
    }
    
    .navbar-toggler {
        margin-left: auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-inner img {
        width: 100%;
        height: auto;
        }
    #fale-conosco {
        margin-bottom: 300px;
    }
    #cabecalho .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #cabecalho img {
        width: 50px; /* Reduz o tamanho da logo para caber melhor */
        margin-right: 10px;
    }

    #cabecalho h1 {
        font-size: 1.5rem; /* Ajusta o tamanho do título */
        margin: 0;
    }
    
    .navbar-toggler {
        margin-left: auto;
    }
    
}   

