body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #212529;
}

#cabecalho .nav .nav-link.active {
    background-color: #7e7d7d;
    color: #000;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: "Daimler CS Regular";
}

#sobre-o-restaurante, #cardapio {
    background-color: #000;
    color: #fff;
}

.text-colored {
    color: #929190;
}

.nav-cardapio {
    color: #e15f41;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.btn {
    transition: all 0.3s ease; /* Suaviza a transição */
    
}

.btn:hover {
    border: 2px solid #ff8800; /* Altera a cor da borda ao passar o mouse */
    transform: scale(0.95); /* Diminui ligeiramente o tamanho do botão */
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .carousel-inner img {
        width: 100%;
        height: auto;
        }
    #fale-conosco {
        margin-bottom: 300px;
    }
    }   
    